.tableContainer {
    width: 99%;
    overflow-x: auto;
  }
  
  .table {
    width: 99%;
    border-collapse: collapse;
    font-size: 16px;
    min-width: 600px;
    table-layout: fixed;
  }
  
  .thead {
    background-color: #59708a;
    color: white;
    text-align: center;
  }
  
  .th, .td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    user-select: none;
  }
  
  .tbody {
    text-align: center;
  }
  
  .tbodyRow:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tbodyRow {
    transition: background-color 0.1s ease-in-out;
  }
  
  .tbodyRow:hover {
    background-color: #e0dfdf;
  }
  
  .pagination {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .pagination a {
    margin: 0 5px;
    cursor: pointer;
  }
  
  /* 반응형 */
  @media screen and (max-width: 768px) {
    .table {
      font-size: 14px;
    }
  }

  /* 기본 버튼 스타일 */
  .state {
    background-color: #e0e0e0; /* 배경색 */
    padding: 4px 8px;         /* 안쪽 여백 */
    border-radius: 4px;        /* 모서리 둥글기 */
    display: inline-block;     /* 인라인 요소를 블록처럼 */
    color: white;
  }
    
  .state.accept {
    background-color: #007bff;
  }
  
  .state.etc {
    background-color: #429cfd;
  }
  
  .state.primary {
    background-color: #28a745;
  }
  
  .state.secondary {
    background-color: #6c757d;
  }
  
  .state.danger {
    background-color: #dc3545;
  }