<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgg.application.login.mapper.LoginMapper">

    <!-- 로그인 -->
    <select id="login" parameterType="map" resultType="resultMap">
        /* com.sgg.application.login.mapper.LoginMapper.login */
        SELECT A1.USER_ID
            , A1.USER_NM
            , A1.USER_AUTH
            , (SELECT CASE WHEN COUNT(*) <![CDATA[ > ]]> 0 then 'Y'
                            ELSE 'N'
                        END
                FROM SGG_USER
                WHERE USER_PW = #{userPw}
                AND USER_ID = #{userId}) AS PASSWORD_CHECK
            , A1.LOGIN_CNT
            , A2.TEL_NO
            , A2.CITY
            , A2.EMAIL
            , A2.GEN
            , A2.COUNTRY
            , A2.ZIP
            , A2.ADDR
            , A2.ADDR_DTL
        FROM SGG_USER A1
            , SGG_USER_INFO A2
        WHERE 1 = 1
        AND A1.USER_ID = A2.USER_ID(+)
        AND A1.USER_ID = #{userId}
    </select>

    <update id="resetLoginCount" parameterType="map">
        /* com.sgg.application.login.mapper.LoginMapper.resetLoginCount */
        UPDATE SGG_USER
        SET
            LOGIN_CNT = 0
        WHERE 1 = 1
        AND USER_ID = #{userId}
    </update>

    <update id="upLoginCount" parameterType="map">
        /* com.sgg.application.login.mapper.LoginMapper.upLoginCount */
        UPDATE SGG_USER
        SET
            LOGIN_CNT = CASE WHEN LOGIN_CNT <![CDATA[ >= ]]> 5 THEN 5
                            ELSE NVL(LOGIN_CNT, 0) + 1
                        END
        WHERE 1 = 1
        AND USER_ID = #{userId}
    </update>

    <insert id="log" parameterType="map">
        /* com.sgg.application.login.mapper.LoginMapper */
        <selectKey keyProperty="logNo" resultType="resultMap" order="BEFORE">
            SELECT NVL(MAX(LOG_NO), 0) + 1 AS LOG_NO
            FROM SGG_LOG
        </selectKey>
        INSERT INTO SGG_LOG
        (   LOG_NO
            , USER_ID
            , LOG_PATH
            , USER_IP
            , LOG_TIME
            , MENU_NAME
        )
        VALUES
        (   #{logNo}
            , 'REACT'
            , 'REACT'
            , #{userIp}
            , SYSDATE
            , 'REACT'
        )
    </insert>
</mapper>