<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgg.application.login.mapper.LoginMapper">

    <!-- 로그인 -->
    <select id="login" parameterType="map" resultType="resultMap">
        /* com.sgg.application.login.mapper.LoginMapper.login */
        SELECT A1.USER_ID
            , A1.USER_NM
            , A1.USER_AUTH
            , (SELECT CASE WHEN COUNT(*) <![CDATA[ > ]]> 0 then 'Y'
                            ELSE 'N'
                        END
                FROM SGG_USER
                WHERE USER_PW = #{userPw}) AS PASSWORD_CHECK
            , A2.TEL_NO
            , A2.CITY
            , A2.EMAIL
            , A2.GEN
            , A2.COUNTRY
            , A2.ZIP
            , A2.ADDR
            , A2.ADDR_DTL
        FROM SGG_USER A1
            , SGG_USER_INFO A2
        WHERE 1 = 1
        AND A1.USER_ID = A2.USER_ID(+)
        AND A1.USER_ID = #{userId}
        AND A1.DEL_YN = 'N'
        AND A2.DEL_YN(+) = 'N'
    </select>

</mapper>