<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgg.application.user.mapper.UserMapper">
    <!-- 목록조회 -->
    <select id="userList" parameterType="map" resultType="resultMap">
        /* com.sgg.application.user.mapper.UserMapper.userList */
        SELECT *
        FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY USER_NM DESC) AS RNUM
                , A1.USER_ID
                , A1.USER_NM
                , (SELECT CD_DTL_NAME
                    FROM SGG_CD_DTL
                    WHERE 1 = 1
                    AND DEL_YN = 'N'
                    AND CD_ID = 'USER_AUTH'
                    AND CD_DTL = A1.USER_AUTH) AS USER_AUTH_NM
                , A1.USER_AUTH
                , A1.LOGIN_CNT
                , A1.INPT_DT
                , A1.UPDATE_DT
                , A2.TEL_NO
                , A2.EMAIL
                , A2.ZIP
                , A2.CITY
                , A2.ADDR
                , A2.ADDR_DTL
                , A2.GEN
            FROM SGG_USER A1
                , SGG_USER_INFO A2
            WHERE 1 = 1
            AND A1.USER_ID = A2.USER_ID(+)
            <if test="type != null and type != ''">
                AND A1.USER_AUTH = #{type}
            </if>
            <if test="userIdSearch != null and userIdSearch != ''">
                AND A1.USER_ID LIKE '%' || #{userIdSearch} || '%'
            </if>
            <if test="userNmSearch != null and userNmSearch != ''">
                AND A1.USER_NM LIKE '%' || #{userNmSearch} || '%'
            </if>
            <if test="notM != null and notM == 'Y'.toString()">
                AND A1.USER_ID != 'minsun1234'
            </if>
            ORDER BY A1.INPT_DT DESC, A1.UPDATE_DT DESC
        )
        WHERE RNUM BETWEEN ((#{page} - 1) * #{row}) + 1 AND #{page} * #{row}
    </select>

    <!-- 목록조회수 -->
    <select id="userListCount" parameterType="map" resultType="int">
        /* com.sgg.application.user.mapper.UserMapper.userListCount */
        SELECT COUNT(*)
        FROM (
            SELECT ROW_NUMBER() OVER(ORDER BY USER_NM DESC) AS RNUM
            FROM SGG_USER A1
                , SGG_USER_INFO A2
            WHERE 1 = 1
            AND A1.USER_ID = A2.USER_ID(+)
            <if test="type != null and type != ''">
                AND A1.USER_AUTH = #{type}
            </if>
            <if test="userIdSearch != null and userIdSearch != ''">
                AND A1.USER_ID LIKE '%' || #{userIdSearch} || '%'
            </if>
            <if test="userNmSearch != null and userNmSearch != ''">
                AND A1.USER_NM LIKE '%' || #{userNmSearch} || '%'
            </if>
            <if test="notM != null and notM == 'Y'.toString()">
                AND A1.USER_ID != 'minsun1234'
            </if>
        )
    </select>

    <!-- 사용자 정보 업데이트 -->
    <update id="updateUser" parameterType="list">
        /* com.sgg.application.login.mapper.LoginMapper.updateUser */
            MERGE INTO SGG_USER A1
            USING (
                <foreach collection="list" item="item" separator="UNION">
                    SELECT #{item.userId} AS userId
                        , #{item.userPw} AS userPw
                        , #{item.userNm} AS userNm
                        , #{item.userAuth} AS userAuth 
                    FROM DUAL
                </foreach>
                ) A2
            ON (A1.USER_ID = A2.userId)
            WHEN MATCHED THEN
                UPDATE SET 
                    A1.USER_NM = A2.userNm
                    , A1.USER_AUTH = A2.userAuth
                    , A1.LOGIN_CNT = 0
                    , A1.UPDATE_DT = SYSDATE
            WHEN NOT MATCHED THEN
                INSERT (
                        USER_ID
                        , USER_PW
                        , USER_NM
                        , USER_AUTH
                        , DEL_YN
                        , LOGIN_CNT
                        , INPT_DT
                        )
                VALUES (
                        A2.userId
                        , A2.userPw
                        , A2.userNm
                        , A2.userAuth
                        , 'N'
                        , 0
                        , SYSDATE
                        )
    </update>

</mapper>