#root {
  text-align: center;
}

.code {
  margin: 0% 20% 0% 20%;
  text-align: left;
  border: none;
  width: 70%;
  resize: none;
  overflow: hidden;
  height: auto;
}

.textDiv {
  border: 1px solid black;
  padding: 10px;
  margin: 1% 15% 1% 15%;
}