#root {
  text-align: center;
}

/* 기본 버튼 스타일 */
button {
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #5994d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  margin: 5px;
}

/* 호버 시 버튼 스타일 */
button:hover {
  background-color: #0056b3;
  transform: translateY(-3px); /* 살짝 위로 올라가도록 */
}

/* 클릭 시 스타일 */
button:active {
  transform: translateY(2px); /* 클릭하면 눌리는 효과 */
}

/* 비활성화된 버튼 */
button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* 버튼에 애니메이션 추가 (색상 변화) */
button:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6); /* 파란색 그림자 */
}

/* 다양한 스타일을 위한 버튼 크기와 색상 설정 */
button.primary {
  background-color: #28a745;
}

button.primary:hover {
  background-color: #218838;
}

button.secondary {
  background-color: #6c757d;
}

button.secondary:hover {
  background-color: #5a6268;
}

button.danger {
  background-color: #dc3545;
}

button.danger:hover {
  background-color: #c82333;
}

button.fileUpload {
  background-color: #b603fd;
}

button.fileUpload:hover {
  background-color: #732392;
}

button.fileSave {
  background-color: #7e05ad;
}

button.fileSave:hover {
  background-color: #400358;
}

/* 클릭 시 스타일 */
button:active {
  transform: translateY(2px); /* 클릭하면 눌리는 효과 */
}

.code {
  margin: 0% 20% 0% 20%;
  text-align: left;
  border: none;
  width: 70%;
  resize: none;
  overflow: hidden;
  height: auto;
}

/* textDiv 스타일 */
.textDiv {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 10px;
    margin: 1% 15% 1% 15%;
}

.textDiv h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #007bff;
}

.textDiv p {
    margin: 4px 0;
    line-height: 1.6;
}

.textDiv button {
    margin-top: 10px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
}

/* 입력 필드 기본 스타일 */
input[type="text"], input[type="email"], input[type="password"] {
  width: 99%;  /* 입력 필드 너비 100% */
  padding: 10px 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
  outline: none;
}

/* 입력 필드 포커스 상태 */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}